[submodule "DefiantEngine/vendor/spdlog"]
	path = DefiantEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "DefiantEngine/vendor/GLFW"]
	path = DefiantEngine/vendor/GLFW
	url = https://github.com/taz40/glfw
[submodule "DefiantEngine/vendor/imgui"]
	path = DefiantEngine/vendor/imgui
	url = https://github.com/taz40/imgui
[submodule "DefiantEngine/vendor/glm"]
	path = DefiantEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
